/*Global styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

p {
    font-family: poppins,sans-serif;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 0;
    color: rgba(6, 12, 34, 0.98);
    font-weight: 300;
}

.bounceIn {
    animation-delay: 0.5s;
}

#search {
    width: 100% !important;
    padding: 0;
}

.bookmarks {
    color: rgba(248, 34, 73, 1);
}

.show {
    display: block;
}

.show ul {
    height: 100vh;
}

.show ul li {
    padding: 30px 0;
}

#bookmark-span {
    font-size: 1.5em;
    top: 25vh;
    left: 95px;
    position: absolute;
}

#mySidediv {
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 100vh;
    z-index: 10000 !important;
    background-color: rgba(6, 12, 34, 0.98);
    -webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

#mySidediv a {
    font-size: 1.5em !important;
    top: 25vh !important;
    left: 60px;
    position: absolute;
    color: rgba(248, 34, 73, 1) !important;
    transition: ease 0.4s;
} 

#mySidediv a:hover {
    color: rgba(248, 34, 73, 0.7);
}

#btnspan {
    z-index: 10000 !important;
    position: fixed;
    top: -3px;
    line-height: 73px;
    font-size: 25px;
    right: 50px;
    color: #fff;
    cursor: pointer;
}

#delete {
    padding: 10px;
}

.zoomIn {
    animation-delay: 0.5s;
}

.lightSpeedIn {
    animation-delay: 0.5s;
}

#clobtn {
    position: fixed;
    top: 1px;
    right: 235px;
    font-size: 25px;
    line-height: 73px;
    display: none;
    color: rgba(248, 34, 73, 1);
    cursor: pointer;
    z-index: 100000 !important;
}

#times {
    padding: 10px;
}

#deletebtn {
    position: fixed;
    top: 0;
    right: 54px;
    font-size: 25px;
    line-height: 73px;
    display: none;
    color: rgba(248, 34, 73, 1);
    z-index: 100000 !important;
}

.light-overlay {
    position: absolute;
    height: 60vh;
    width: 100%;
    background: -moz-linear-gradient(45deg, rgba(16, 31, 84, 0.7), rgba(184, 197, 245, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(16, 31, 84, 0.7), rgba(184, 197, 245, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(16, 31, 84, 0.7)), to(rgba(184, 197, 245, 0.7)));
    background: -o-linear-gradient(45deg, rgba(16, 31, 84, 0.7), rgba(184, 197, 245, 0.7) 100%);
    background: linear-gradient(to 45deg, rgba(16, 31, 84, 0.7), rgba(184, 197, 245, 0.7) 100%);
}

.btn-info {
    background-color: rgba(6, 12, 34, 1) !important;
}

.btn-info:hover {
    background-color: rgba(6, 12, 34, 1) !important;
}

.hr {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), #f82249, rgba(255, 255, 255, 0.1));
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1), #f82249, rgba(255, 255, 255, 0.1));
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.1), #f82249, rgba(255, 255, 255, 0.1));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), #f82249, rgba(255, 255, 255, 0.1));
}

.btn-load {
    box-shadow: 6px 6px 11px 1px rgba(248, 34, 73, 0.6) !important;
    transition: 0.3s all ease-in-out;
    position: relative;
    bottom: 0;
    right: 0;
}

.btn-load:hover {
    background-color: rgba(6, 12, 34, 1) !important;
    box-shadow: 9px 9px 15px 3px #f82249 !important;
    position: relative;
    bottom: 6px;
    right: 6px;
}

.navbar {
    background: rgba(6, 12, 34, 1) !important;
    z-index: 10000 !important;
}

.navbar-collapse {
    transition: ease 0.5s !important;
}

.nav-link {
    padding: 10px 20px !important;
}

.rgba-gradient {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: -moz-linear-gradient(45deg, rgba(16, 31, 84, 0.7), rgba(184, 197, 245, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(16, 31, 84, 0.7), rgba(184, 197, 245, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(16, 31, 84, 0.7)), to(rgba(184, 197, 245, 0.7)));
    background: -o-linear-gradient(45deg, rgba(16, 31, 84, 0.7), rgba(184, 197, 245, 0.7) 100%);
    background: linear-gradient(to 45deg, rgba(16, 31, 84, 0.7), rgba(184, 197, 245, 0.7) 100%);
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f82249;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-brand {
    padding: 10px 20px;
}

#logospan {
    color: #f82249;
}

.img_thumb {
    width: 100%;
}

.h1-responsive {
    font-family: Arial, Helvetica, sans-serif;
}

.feature {
    padding-top: 100px;
}

.lorem {
    letter-spacing: 1px;
}

.section_tittle {
    color: rgba(6, 12, 34, 1);
    font-weight: 800;
}

.single_feature_post_text {
    padding: 50px;
    background-color: rgba(248, 34, 73, 0.03);
    margin-bottom: 30px;
    position: relative;
    height: 450px;
}

.single_feature_post_text h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 21px;
    color: rgba(6, 12, 34, 1);
}

.single_feature_post_text img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.anim {
    overflow: hidden;
    color: #f82249;
    position: absolute;
    font-weight: 600;
    left: 50px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.left-anim {
    overflow: hidden;
    color: #f82249;
    position: absolute;
    font-weight: 600;
    left: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.shadow:hover .left-anim {
    left: 10%;
    opacity: 1;
    visibility: visible;
}

.left-right {
    overflow: hidden;
    color: #f82249;
    position: absolute;
    font-weight: 600;
    right: 0;
    bottom: 38px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.shadow:hover .left-right {
    right: 10%;
    opacity: 1;
    visibility: visible;
}

.feature_btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #f82249;
    position: absolute;
    left: 50px;
    bottom: 50px;
    line-height: 15px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.single_feature_post_text:hover .feature_btn {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
}

.feature_btn:hover {
    color: #f82249;
}

/*New Arivals*/
.new-arivals {
    padding-top: 100px;
    padding-bottom: 100px;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel .carousel-indicators li {
    background-color: rgba(248, 34, 73, 0.3);
    max-width: 15px;
    height: 15px;
}

.carousel-indicators li.active {
    background-color: rgba(248, 34, 73, 1) !important;
}

.shadow {
    box-shadow: 6px 6px 11px 1px rgba(248, 34, 73, 0.3) !important;
    transition: 0.3s all ease-in-out;
    position: relative;
    bottom: 0;
    right: 0;
    overflow: hidden !important;
}

.shadow:hover {
    box-shadow: 9px 9px 15px 3px rgba(248, 34, 73, 0.9) !important;
    position: relative;
    bottom: 6px;
    right: 6px;
}

.shadow:hover .anim {
    left: 110px;
    opacity: 1;
    visibility: visible;
}

.card-img-top {
    width: 100%;
    height: 190px;
    object-fit: contain;
}

/*Our Offer*/
.our-offer {
    background-color: rgba(248, 34, 73, 0.03);
}

.offer-h2 {
    color: rgba(6, 12, 34, 1) !important;
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
}

.countdown {
    display: flex;
    justify-content: space-between;
}

.days {
    font-size: 25px;
    font-weight: 400;
    color: rgba(248, 34, 73, 0.4);
}

.number {
    font-size: 35px;
    font-weight: 600;
    color: rgba(6, 12, 34, 1);
}

/*Best Seller*/
.best-seller {
    padding-top: 100px;
}
/*Join Us*/
.join-us {
    height: 60vh;
    margin-top: 100px;
    background-image: url('/lanaya/style/img/join.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.join-us h5 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(6, 12, 34, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.join-us h2 {
    line-height: 60px;
    margin: 35px 0 67px;
}

/*Footer Section*/
footer.page-footer {
    margin-top: 0;
    padding-top: 0;
    background-color: rgba(6, 12, 34, 1);
}

.fab {
    color: rgba(248, 34, 73, 1);
}

footer {
    background-color: rgba(6, 12, 34, 1);
}

footer.page-footer .footer-copyright {
    line-height: 20px;
}

/*Shop*/
.shop_h3 {
    font-size: 20px;
    margin-bottom: 10px;
}


.checkbox-label {
    position: relative;
    margin: auto;
    cursor: pointer;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: -4px;
    height: 24px;
    width: 24px;
    background-color: transparent;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
    border: 1px solid rgba(248, 34, 73, 0.2);
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border: solid rgba(248, 34, 73, 1);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 13px;
    border: solid rgba(248, 34, 73, 1);
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border: 1px solid rgba(248, 34, 73, 1);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);	
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
}

.img_thumb {
    height: 250px;
    object-fit: contain;
}

.height {
    height: 400px;
}

.details {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    background-color: rgba(6, 12, 34, 1);
    color:  #fff;
}

.details:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: -5px;
    height: 100%;
    width: 10px;
    background-color: rgba(6, 12, 34, 1);
    -webkit-transform: skew(-14deg,0deg);
    transform: skew(-14deg,0deg);
}

.details:hover {
    color: ;
}

.product-h {
    font-weight: 700;
}

/*Contact*/
.contact-us-page__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 40px;
}

.contact-us-page__link {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    height: 130px;
    width: 150px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.contact-us-page__link-title {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 21px;
}

.contact-us-page__footer {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 70px 0;
    border-top: 2px solid rgba(6, 12, 34, 1);
    text-transform: none;
}

 .contact-us-page__footer-item {
    max-width: 300px;
    margin: 0 50px 40px;
    text-align: center;
}

.btn {
    border-radius: 0px !important;
}

/*Product Info*/
.img_size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s_product_text h2 {
    font-size: 24px;
    font-weight: bold;
    color: rgba(248, 34, 73, 1);
    margin-bottom: 15px;
}

.s_product_text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.s_product_text ul li {
    margin-bottom: 5px;
}

.s_product_text ul li a.active {
    color: #ff3368;
}

.s_product_text p {
    padding-top: 20px;
    border-top: 1px solid #d5d5d5;
    margin: 20px 20px;
    border-bottom: 1px solid #d5d5d5;
}

.s_product_text .card-area {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
}

.mt {
    margin-top: 80px;
}

#userpic {
    width: 50%;
    height: 100%;   
    object-fit: cover;
}














/*Media Queries*/
@media screen and (min-width: 990px) and (max-width: 1440px) {
    .join-us {
        height: 70vh;
    }

    .light-overlay {
        height: 70vh;
    }

    .join-us h2 {
        line-height: 60px;
        margin: 25px 0 40px;
    }
}

@media screen and (max-width: 990px) {
    .single_feature_post_text img {
        width: 100%;
        height: 65%;
        object-fit: cover;
    }

    .mt {
        margin-top: 15px !important;
    }

    .navbar-toggler {
        position: absolute !important;
        top: 14px !important;
    }

    .single_feature_post_text {
        height: 380px;
    }

    .card {
        height: 400px;
    }

    .offer-h2 {
        font-size: 35px;
        line-height: 50px;
    }
}

@media screen and (max-width: 990px) {
    .center {
        display: flex;
        justify-content: center !important;
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    .lorem {
        display: none !important;
    }

    .navbar-toggler {
        position: absolute !important;
        top: 17px !important;
    }

    .hr {
        display: none !important;
    }

    .card {
        height: 380px;
    }

    .single_feature_post_text img {
        width: 100%;
        height: 88%;
        object-fit: cover;
    }

    .days {
        font-size: 15px;
    }

    .join-us h2 {
        line-height: 50px;
        margin: 25px 0 50px;
    }
    
    .number {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    .navbar-toggler {
        position: absolute !important;
        top: 14px !important;
    }
}

@media screen and (max-width: 425px) {
    .single_feature_post_text img {
        width: 100%;
        height: 78%;
        object-fit: cover;
    }

    .offer-h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .join-us h2 {
        line-height: 35px;
        margin: 15px 0 25px;
    }

    .number {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .single_feature_post_text img {
        width: 100%;
        height: 68%;
        object-fit: cover;
    }

    .single_feature_post_text h3 {
        font-size: 21px;
    }

    .feature_btn {
        font-size: 14px;
    }

    .card {
        height: 380px;
    }

    .join-us h2 {
        line-height: 30px;
        margin: 15px 0 25px;
    }
}


